IO_LOC "clk50" E2;
IO_PORT "clk50" IO_TYPE=LVCMOS33;
IO_LOC "serial_rx" B3;
IO_PORT "serial_rx" IO_TYPE=LVCMOS33;
IO_LOC "serial_tx" C3;
IO_PORT "serial_tx" IO_TYPE=LVCMOS33;
IO_LOC "led0" E8;
IO_PORT "led0" IO_TYPE=LVCMOS33;
IO_LOC "led1" D7;
IO_PORT "led1" IO_TYPE=LVCMOS33;
IO_LOC "btn_n0" H11;
IO_PORT "btn_n0" IO_TYPE=LVCMOS33;
IO_LOC "btn_n1" H10;
IO_PORT "btn_n1" IO_TYPE=LVCMOS33;